body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btnxgreen {
  height: 40px;
  width: 40px;  
  font-size: 1.4em;
  border-radius: 80%;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  cursor: pointer;
}

.btnxred {
  height: 40px;
  width: 40px;  
  font-size: 1.4em;
  border-radius: 80%;
  background-color: #f20909;
  color: white;
  text-align: center;
  cursor: pointer;
}